h1{
    color: darkred;

    padding: 20px;

    margin-left: 25%;
}

h2{
    color: darkblue;

    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.greenbold{
    font-weight: bold;
    color: darkgreen;
}