/*header 1 element selector*/
h1{
    color: darkred;

    padding: 20px;

    margin-left: 25%;
}
/*header 2 element selector*/
h2{
    color: darkblue;

    border-width: 1px;
    border-color: black;
    border-style: solid;
}
/*class selector to change*/
.greenbold{
    font-weight: bold;
    color: darkgreen;
}