/*paragraph element selector*/
p{
    background: rgba(128, 128, 128, 0.6);

    margin-right: 10%;
}
/*class selector*/
.secondparagraph{

    background: rgba(0, 0, 255, 0.51);

    width: 99%;

    margin-left: auto;
    margin-right: auto;
}
/*class selector*/
.pinkbackground{

    background: pink;

    padding-top: 10px;
    padding-bottom: 10px;
}
/*class selector*/
.styleit{
    width: 500px;
    height: 100px;

    padding: 10px;

    border-style: dashed;
    border-width: 3px;
    border-color: black;

    margin-right: auto;
    margin-left: auto;

    text-align: center;
}
